.search-field{
    background-color: rgba(0, 0, 0, 0.856);
    line-height: 60px;
    text-align: center;
}
.search-field input{
    width: 70%;
    height: 20px;
}
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    margin-left: 200px;
    border-right: 1px solid lightgray;
    margin-right: 10px;
}