.product{
    display: flex;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
}
.product-name{
    color: blue;
    font-weight: 500;
}
.product-details{
    margin-left: 10px;
}
.card-btn{
    background-color: goldenrod;
    width: 200px;
    height: 30px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}
.fa-star{
    color: goldenrod;
}
.product-and-rating{
    display: flex;
}
.rating{
    margin-left: 200px;
}